*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:radial-gradient(circle,#0a1a3f,#02040c);
overflow:hidden;
font-family:sans-serif;
}

.scene{
position:relative;
}

/* BUQUÊ */

.bouquet{
position:relative;
width:320px;
height:400px;
display:flex;
flex-direction:column;
align-items:center;
}

/* FLORES */

.flower{
position:absolute;
width:60px;
height:60px;
border-radius:50%;
background:radial-gradient(circle,#ff2f92 10%,#ff6ab7 35%,white 80%);
box-shadow:0 0 20px #ff6ab7;
animation:sway 4s infinite ease-in-out;
}

/* POSIÇÕES */

.f1{top:0;left:40px;}
.f2{top:0;right:40px;}

.f3{top:40px;left:130px;}
.f4{top:80px;left:10px;}
.f5{top:80px;right:10px;}

.f6{top:120px;left:80px;}
.f7{top:120px;right:80px;}

/* CAULES */

.stems{
width:8px;
height:200px;
background:linear-gradient(#2ca94d,#0a3f1d);
margin-top:130px;
border-radius:5px;
}

/* PAPEL DO BUQUÊ */

.paper{
width:200px;
height:120px;
background:linear-gradient(#f4e3c1,#e5cfa2);
margin-top:-20px;
border-radius:20px;
}

/* LAÇO */

.ribbon{
width:70px;
height:30px;
background:#ff2f92;
border-radius:30px;
margin-top:-30px;
box-shadow:0 0 10px #ff6ab7;
}

/* CORAÇÕES */

.heart{
position:absolute;
width:20px;
height:20px;
background:#ff4b6e;
transform:rotate(45deg);
animation:float 6s infinite;
}

.heart::before,
.heart::after{
content:"";
position:absolute;
width:20px;
height:20px;
background:#ff4b6e;
border-radius:50%;
}

.heart::before{
top:-10px;
}

.heart::after{
left:-10px;
}

.h1{left:50px;animation-delay:0s;}
.h2{left:200px;animation-delay:2s;}
.h3{left:120px;animation-delay:4s;}

/* ANIMAÇÕES */

@keyframes sway{
0%{transform:rotate(-2deg)}
50%{transform:rotate(2deg)}
100%{transform:rotate(-2deg)}
}

@keyframes float{
0%{
bottom:-20px;
opacity:1;
}
100%{
bottom:500px;
opacity:0;
}
}
